**Az első 5 feladat ismétlés (többtáblás lekérdezések) a tanulmányi adatbázisból**

1. Készítsünk listát arról, hogy melyik óra melyik teremben van!
    
    1. Jelenítsük meg az óra azonosítóját és a terem nevét!
    2. A listát szűrjük a 3 karakter hosszú, \[100;199\] zárt intervallumba eső termekre! Feltesszük, hogy a 3 karakter hosszú terem nevek csak számjegyeket tartalmaznak.

In [3]:
SELECT o.ora_id,t.Terem
FROM Orak o JOIN Termek t ON o.terem = t.Tkód
WHERE LEN(t.Terem) = 3 and t.Terem BETWEEN 100 AND 199

ora_id,Terem
159,117
160,118
161,118
162,119
163,120
164,119
165,119
166,119
167,120
170,120
172,119
173,119
175,120
176,118
177,119
179,120
180,119
181,118
185,120
192,119
195,116
197,116
198,119
204,120
212,120
218,118
220,119
222,116
226,117
227,116

2. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Hány óra van összesen az egyes napokon?</span>

1. Jelenítsük meg a napok nevét és az órák számát az adott napon!
2. Az oszlopokat nevezzük el értelemszerűen!
3. A listát rendezzük óraszám szerint növekvő sorrendbe!

In [6]:
SELECT n.nap, COUNT(ora_id)
FROM Orak o JOIN Napok n ON o.nap = n.nap_id
GROUP BY n.nap
ORDER BY COUNT(ora_id) ASC

nap,(No column name)
Péntek,6
Szerda,6
Kedd,13
Csütörtök,19
Hétfő,23

3. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Készítsünk listát arról, hogy melyik oktatónak hány órája van az Órák táblában!</span>

1. A lista jelenítse meg az oktatók nevét, és az órák számát!
2. Az oszlopokat nevezzük el értelemszerűen!
3. A listából hagyjuk ki az óraadókat!

In [16]:
SELECT okt.nev, COUNT(o.ora_id) AS 'Órák száma'
FROM Orak o JOIN Oktatok okt ON o.tanar = okt.oktato_id
                JOIN Beosztasok b ON okt.oktato_id = b.beosztas_id 

WHERE b.beosztasnev != 'Óraadó'
GROUP BY okt.nev

nev,Órák száma
Balkán András,3
Kiss János,4
Szentágotai Istvás,8
Szép llonka,4
Szerb László,3
Ujfalussi István,3

4. <span style="color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Van-e olyan tantárgy, amelyből nincs óra?</span>

1. Jelentsük meg a tantárgy nevét és a tantárgyfelelős nevét!

In [17]:
SELECT t.Tantárgynév,
        okt.nev
FROM Orak o RIGHT JOIN Tantárgyak t ON o.targy = t.Tkód
                    JOIN Oktatok okt ON t.Tantárgyfelelős = okt.oktato_id
WHERE o.targy IS NULL

Tantárgynév,nev
Folyami gáttan,Varga Kata

5. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Hány óra van összesen a 120-as teremben?</span>

In [22]:
SELECT t.Terem,COUNT(ora_id) AS 'Órák száma'
FROM Orak o JOIN Termek t ON o.terem = t.Tkód
GROUP BY t.Terem
HAVING t.Terem = 120

Terem,Órák száma
120,8

: Msg 245, Level 16, State 1, Line 1
Conversion failed when converting the nvarchar value 'E.2.238' to data type int.

**A 6-10 feladatokat halmazműveletek segítségével oldjuk meg, szintén a tanulmányi adatbázison**

6. <span style="background-color:rgb(255, 255, 255);color:rgb(36, 41, 47);font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;;font-size:16px;font-weight:600;">Jelenítsük meg azon tanárok azonosítóját és nevét, akik hétfői vagy keddi napokon tanítanak!</span>

7. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Melyek azok a tantárgyak, amelyek esetén van óra a 8.00-kor kezdődő sávban, de nincs a 12.30-kor kezdődő sávban?</span>

8. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Listázzuk azokat a termeket, amelyekben oktat Kovács László és van olyan tanóra a teremben, ahol a tantárgy nevében nem szerepel az 'ürge' szó!</span>

9. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Készítsünk listát arról, hogy melyik tanárnak hány órája van a (munka) hét elején (hétfőn), hét közben (kedd, szerda és csütörtök), illetve a hét végén (péntek)!</span>

1. Jelenítsük meg a tanár azonosítóját, nevét, az időszakot (hét eleje - hét közben - hét vége), valamint az óraszámot!
2. A három megjelölt időszakot külön kérdezzük le, majd fűzzük össze a lekérdezések eredményeit!
3. Rendezzük a listát az oktató neve, azon belül időszak szerint!

10. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Melyik napokon nincs órája Pelikán Józsefnek?</span>

In [70]:
--Összes nap
SELECT nap
FROM Napok

EXCEPT

--Mikor van órája
SELECT n.nap
FROM Orak o JOIN Oktatok okt ON o.tanar = okt.oktato_id
            JOIN Napok n ON o.nap = n.nap_id
WHERE okt.nev = 'Pelikán József'

nap
Csütörtök
Péntek
Szerda

**A 11-15 feladatok gyakorlásra szolgálnak a közelgő zh-ra :-)**

11. _Készítsünk listát az oktatók adatairól!_

1. Az oktatók titulusa és neve összefűzve jelenjen meg, közöttük szóközzel!
2. Ha valakinek nincs titulusa, akkor csak a neve jelenjen meg, szóköz nélkül!
3. A listát rendezzük a beosztás kódja, azon belül a státusz kódja szerint növekvő sorrendbe!
4. Az oszlopokat nevezzük el értelemszerűen!

In [26]:
SELECT IIF(titulus IS NULL, nev, titulus + ' ' + nev)  AS 'OKtató neve'
FROM Oktatok o JOIN Beosztasok b ON o.oktato_id = b.beosztas_id
ORDER BY b.beosztas_id, o.[status] ASC

OKtató neve
Dr. Kovács László
Dr. Szentágotai Istvás
Szerb László
"Prof, tanszékvezető Ujfalussi István"
Dr. Balkán András
Dr. Szép llonka
Kiss János

<span style="color: #09885a;">12</span>. Készítsünk listát, amely megmutatja, hogy összesen hány tantárgy van kreditenkénti csoportosításban!

  

A listából hagyjuk ki azokat a tételeket, ahol ez a darabszám <span style="color: #09885a;">1</span>!

A Folyami gáttan tantárgyat ne vegyük figyelembe!

A listát rendezzük darabszám szerint csökkenő sorrendbe!

Az oszlopokat nevezzük el értelemszerűen!

In [38]:
SELECT Kredit, COUNT(Tantárgynév) AS 'Tantárgynév'
FROM Tantárgyak
WHERE Tantárgynév != 'Folyami gáttan'
GROUP BY Kredit
HAVING COUNT(Tantárgynév) != 1
ORDER BY  COUNT(Tantárgynév) DESC

Kredit,Tantárgynév
2,3
3,3
4,2
1,2

13. _Készítsünk listát az oktatók nevéről, a beosztásuk alapján elvárt és a tényleges óraszámukról!_

1. Az oszlopok neve legyen 'Oktató neve', 'Elvárt óraszám' és 'Tényleges óraszám'
2. Szűrjük a listát azokra az oktatókra, ahol az elvárt és a tényleges óraszám azonos

In [44]:
SELECT okt.nev AS 'Oktató neve', b.elvart AS 'Elvárt óraszám', COUNT(o.ora_id) AS 'Tényleges'
FROM Orak o JOIN Oktatok okt ON o.tanar = okt.oktato_id
            JOIN Beosztasok b ON okt.beosztás = b.beosztas_id
GROUP BY okt.nev, b.elvart
HAVING b.elvart = COUNT(ora_id)

Oktató neve,Elvárt óraszám,Tényleges
Jogrerős Pál,2,2
Juhász András,2,2
Varga Kata,4,4
Pelikán József,6,6

14. _Készítsünk listát, amely megmutatja, hogy mely tantárgyból nincs óra egyáltalán!_

1. Csak a tantárgy neve jelenjen meg!

In [57]:
SELECT t.Tantárgynév
FROM Orak o RIGHT JOIN Tantárgyak t ON o.targy = t.Tkód
WHERE o.nap IS NULL

Tantárgynév
Folyami gáttan

15. _Hány órájuk van az óraadóknak napi bontásban?_

1. Csak a napok nevét és az óraszámot jelenítsük meg!
2. Rendezzük a listát óraszám szerint növekvő sorrendbe!

In [61]:
SELECT n.nap, COUNT(o.ora_id) AS 'Órák neve'
FROM Orak o JOIN Oktatok okt ON o.tanar = okt.oktato_id
            JOIN Beosztasok b ON b.beosztas_id = okt.beosztás
            JOIN Napok n ON o.nap = n.nap_id
WHERE b.beosztasnev = 'Óraadó'
GROUP BY n.nap
ORDER BY COUNT(o.ora_id) ASC

nap,Órák neve
Kedd,1
Hétfő,4
Csütörtök,5